extends layout

block content
  h1= title
  p API ცოცხალია და მუშაობს.
  h3 ხელმისაწვდომი resource-ები:
  ul
    li /api/auth
    li /api/users (admin)
    li /api/authors
    li /api/categories
    li /api/books
    li /api/loans
    li /api/reservations
    li /api/reviews
    li /api/payments
  p სრული დოკუმენტაცია README.md ფაილშია.
